/* globals.css */
body {
  background-color: #ecece8;
  font-family: "Arial", "Bangla708", sans-serif;  /* Apply the font globally */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure it takes up full height of the viewport */
  margin: 0; /* Remove default margin */
}

#app-container { /* Optional container class if needed */
  text-align: center;
}